<div ng-if="ctrl.visible()">

    <div class="row">
        <div class="col col-sm-12">
            <table class="table table-stripped table-hover">
                <tr ng-click="ctrl.selected = -1">
                    <th>&nbsp;</th>
                    <th>ID Persony</th>
                    <th>Rola</th>
                </tr>
                <tr ng-repeat="credential in ctrl.credentials" ng-click="ctrl.select($index)" ng-class="{ 'rowSelected': ctrl.selected == $index }">
                    <td ng-bind="$index == ctrl.selected ? '»' : ''"></td>
                    <td ng-bind="credential.person_id"></td>
                    <td ng-bind="credential.role"></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="panel panel-default" ng-if="ctrl.selected >= 0">
        <div class="panel-heading">Zmień</div>
        <div class="panel-body">
            <form class="form form-inline">
                <input class="form-control" type="password" placeholder="Hasło" ng-model="ctrl.credential.password"/>
                <input class="form-control" type="number" ng-model="ctrl.credential.role"/>
                <button class="btn btn-success" ng-click="ctrl.updateData()">Zmień</button>
                <button class="btn btn-danger" ng-click="ctrl.deleteData()">Usuń</button>
            </form>
        </div>
    </div>
    
    <br/><br/>
    
    <div class="panel panel-default">
        <div class="panel-heading">Dodaj</div>
        <div class="panel-body">
            <form class="form form-inline">
                <input class="form-control" type="password" placeholder="Hasło" ng-model="ctrl.newCredential.password"/>
                <input class="form-control" type="number" placeholder="Rola" ng-model="ctrl.newCredential.role"/>
                <button class="btn btn-primary" ng-click="ctrl.insertNewData()">Utwórz</button>
            </form>
        </div>
    </div>
    
    </div>